@using mRingo.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container-fluid">

    <div class="row" id="outer-container">
        <div class="col-md-12" id="inner-container">
            <div class="formlayout-container">

                <h3 class="custom-form-heading">Welcome back ! Please Login</h3>

                <div class="form-box">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "input", @autofocus = "autofocus", @placeholder = "Email ID *" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", })

                        @Html.PasswordFor(m => m.Password, new { @class = "input", @placeholder = "Password *" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        <div class="checkbox remember">
                            <label class="pull-left">
                                @Html.CheckBoxFor(m => m.RememberMe) Rember me?
                            </label>
                            @Html.ActionLink("Forgot password?", "ForgotPassword", null, new { @class = "pull-right custom-link" })
                        </div>
                        <div class="clear"></div>
                        <button class="btn btn-primary custom-submit" type="submit">Login</button>
                        <div>
                            <p>New to mRingo?@Html.ActionLink("Signup", "Signup", null, new { @class = "info-msg" })</p> 
                        </div>
                    }
                </div>
                <div class="user-signup-separator">
                    <p class="text"><span>or login using</span></p>
                </div>
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
